body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 400px;
    border-width: 10px;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-radius: 10px;
}


.wrapper img {
    width: 250px;
    height: 250px;
}

.wrapper h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.wrapper p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}